@each $weight in 400, 700 {
	@font-face {
		font-weight: $weight;
		font-style: normal;
		font-family: "PT Sans";
		font-display: swap;
		src: url("../fonts/ptsans-#{$weight}.woff2") format("woff2");
	}
}
