html {
	font-size: 16px;
	line-height: 1.5;
	font-family: "PT Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	-webkit-tap-highlight-color: transparent;
}

body {
	margin: 0;
	overflow-y: scroll;
}

img,
video {
	display: block;
	max-width: 100%;
	height: auto;
}

a {
	text-decoration-skip-ink: none;
	color: inherit;

	@include interactive-transitions;

	&:not([href]) {
		pointer-events: none;
	}
}

:focus-visible {
	@include interactive-outline;
}

@supports not selector(:focus-visible) {
	:focus {
		@include interactive-outline;
	}
}
