{
	"extends": "pineglade",
	"overrides": [
		{
			"files": [
				"source/layouts/**/*.js"
			],
			"rules": {
				"max-len": "off",
				"max-lines-per-function": "off",
				"no-unused-expressions": "off"
			}
		}
	]
}
