.DS_Store
.idea
.vscode
*.log
.env
*.sublime*
__MACOS*
node_modules/
npm-debug.*
Thumbs.db
*.webp
place/**/*.png
place/**/*.jpg
place/**/*.svg
public/**/*.html
public/**/*.css
public/**/*.js
public/**/sprite.min.svg
public/pixelperfect/
