.Grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	align-content: start;

	&_gapped {
		gap: 1.5rem;
	}
}

.Grid__col {
	grid-column-end: span 12;

	@for $i from 1 through 12 {
		&_mob#{$i} {
			grid-column-end: span $i;
		}

		@include vpTabletDesktop {
			&_tab#{$i} {
				grid-column-end: span $i;
			}
		}

		@include vpDesktop {
			&_start#{$i} {
				grid-column-start: $i;
			}

			&_#{$i} {
				grid-column-end: span $i;
			}
		}
	}
}
