<!DOCTYPE html>
<html lang="{{ lang }}">
	<head>
		<meta charset="utf-8">
		<meta content="ie=edge" http-equiv="x-ua-compatible">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{{ projectName }} : {{ title }}
		</title>

		<link href="styles/styles.min.css" rel="stylesheet">
		{% if isDev %}
			<link href="styles/dev.min.css" rel="stylesheet">
		{% endif %}
	</head>
	<body class="page">
		<main>
			{% block main %}
				<h1>{{ heading }}</h1>
				<p>{{ title }}</p>
			{% endblock %}
		</main>

		{% set cssMix = 'page__footer' %}
		{% include getComponentPath('page-footer') %}

		{% if isDev %}
			<ul hidden>
				{% for error in errors %}
					<li>{{ error }}</li>
				{% endfor %}
			</ul>
			<script src="scripts/dev.min.js"></script>
		{% endif %}
		<script src="scripts/scripts.min.js"></script>
	</body>
</html>
