html {
	--color-black: #000000;
	--color-white: #ffffff;
	--color-accent: #00796b;
	--color-accent-lite: #b2dfdb;
	--font: "Open Sans", "Arial", sans-serif;
	--icon-fb: url("sprite/fb.svg");
	--icon-insta: url("sprite/insta.svg");
	--icon-telegram: url("sprite/telegram.svg");
	--icon-viber: url("sprite/viber.svg");
	--icon-vk: url("sprite/vk.svg");
	--icon-whatsapp: url("sprite/whatsapp.svg");
	--icon-youtube: url("sprite/youtube.svg");
	min-width: 320px;
	font-family: var(--font);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: antialiased;
	-webkit-tap-highlight-color: transparent;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	overflow-y: scroll; // чтобы содержимое не скакало влево-вправо при быстрой смене страниц
}

a,
button,
input {
	font: inherit;
	text-decoration-skip-ink: none;
	color: inherit;
	background-color: transparent;
	transition-property: color, opacity, background-color, border, box-shadow;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;

	html:not(.a11y) & {
		outline: none;
	}

	&::-moz-focus-inner {
		border: none;
	}
}

button {
	box-sizing: content-box;
	cursor: pointer;
	user-select: none;
}

input {
	box-sizing: border-box;
	width: 100%;
	-webkit-text-fill-color: currentColor;
	box-shadow: none;
	appearance: none;
}

img {
	max-width: 100%;
	height: auto;
}

svg {
	fill: currentColor;
}

table {
	border-collapse: collapse;
}
