// https://gwfh.mranftl.com/fonts

@mixin font-face($family, $weights: 400, $styles: normal) {
	@each $style in $styles {
		@each $weight in $weights {
			@font-face {
				font-weight: $weight;
				font-style: $style;
				font-family: $family;
				font-display: swap;
				src: url("../fonts/#{aliasify($family)}-#{$style}-#{$weight}.woff2") format("woff2");
			}
		}
	}
}

@include font-face("Open Sans", (400, 700));
