html {
	min-width: 320px;
	overflow-y: scroll; // чтобы содержимое не скакало влево-вправо при быстрой смене страниц
	overflow-anchor: none;
	font-family: "Open Sans", serif;
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	-webkit-tap-highlight-color: transparent;
}

body {
	margin: 0;
}

img,
video {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration-skip-ink: none;
	color: inherit;
}

input,
select,
textarea {
	box-sizing: border-box;
	font-family: inherit;
	-webkit-text-fill-color: currentColor;
	box-shadow: none;
	appearance: none;

	&:-webkit-autofill {
		box-shadow: none;
	}
}

input {
	appearance: textfield;

	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		appearance: none;
	}

	&::-webkit-search-decoration,
	&::-webkit-search-cancel-button,
	&::-webkit-search-results-button,
	&::-webkit-search-results-decoration {
		display: none;
	}
}

textarea {
	overflow: auto;
	resize: vertical;
}

:focus-visible {
	outline: 2px solid $colorPrimary;
	outline-offset: 2px;
}

@supports not selector(:focus-visible) {
	:focus {
		outline: 2px solid $colorPrimary;
		outline-offset: 2px;
	}
}

:disabled {
	cursor: not-allowed;
}
