// https://www.htmlcsscolor.com/hex/000000
$colorBlack: var(--colorBlack);
$colorPrimary: var(--colorPrimary);
$colorWhite: var(--colorWhite);

$breakpointTablet: getBreakpoint("TABLET") * 1px;
$breakpointDesktop: getBreakpoint("DESKTOP") * 1px;

$paddingFluid: calc(50% - 598px);

:root {
	--colorBlack: #000000;
	--colorPrimary: var(--colorBlack);
	--colorWhite: #ffffff;
}
