@mixin font-face($font-family, $alias, $font-weight) {
	$url: "../fonts/#{$alias}-#{$font-weight}";

	@font-face {
		font-weight: $font-weight;
		font-style: normal;
		font-family: $font-family;
		font-display: swap;
		src: url("#{$url}.woff2") format("woff2");
	}
}

@include font-face("Roboto", "roboto", 400);
