@mixin visuallyHidden {
	position: fixed;
	transform: scale(0);
}

@mixin transition($props: "color, background-color") {
	transition-property: #{$props};
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}

@mixin defaultInteractive($active: true) {
	@include transition("opacity");

	@include hoverFocus {
		opacity: 0.6;
	}

	@if $active {
		@include active {
			opacity: 0.3;
		}
	}
}

@mixin button() {
	box-sizing: border-box;
	text-decoration: none;
	overflow-wrap: anywhere;
	text-align: center;
	border-radius: 0;
	user-select: none;

	@include defaultInteractive;
}

@mixin container() {
	padding-right: 1rem;
	padding-left: 1rem;

	@include vpTabletDesktop {
		padding-right: 2rem;
		padding-left: 2rem;
	}

	@include vpDesktop {
		padding-right: $paddingFluid;
		padding-left: $paddingFluid;
	}
}

@mixin mask($icon) {
	mask: url("../images/icons.svg##{$icon}") no-repeat center / 100%;
}

@mixin hover {
	@media (hover: hover) {
		&:hover {
			@content;
		}
	}
}

@mixin focus {
	&:focus-visible {
		@content;
	}

	@supports not selector(:focus-visible) {
		&:focus {
			@content;
		}
	}
}

@mixin hoverFocus {
	@include hover {
		@content;
	}

	@include focus {
		@content;
	}
}

@mixin active {
	@media (hover: hover) {
		&:active,
		&:hover:active {
			@content;
		}
	}
}

@mixin webpBackground($webp, $fallback) {
	@supports (background-image: $webp) {
		background-image: $webp;
	}

	@supports not (background-image: $webp) {
		background-image: $fallback;
	}
}

@mixin customBackground() {
	@include vpMobile {
		@include webpBackground(var(--bgWebpMobile), var(--bgMobile));
	}

	@include vpTablet {
		@include webpBackground(var(--bgWebpTablet), var(--bgTablet));
	}

	@include vpDesktop {
		@include webpBackground(var(--bgWebpDesktop), var(--bgDesktop));
	}

	@include retina {
		@include vpMobile {
			@include webpBackground(var(--bgWebpMobile2x), var(--bgMobile2x));
		}

		@include vpTablet {
			@include webpBackground(var(--bgWebpTablet2x), var(--bgTablet2x));
		}

		@include vpDesktop {
			@include webpBackground(var(--bgWebpDesktop2x), var(--bgDesktop2x));
		}
	}
}

@mixin retina {
	@media (min-resolution: 2dppx) {
		html & {
			@content;
		}
	}
}

@mixin vpMobile {
	@media (max-width: ($breakpointTablet - 1px)) {
		@content;
	}
}

@mixin vpTablet {
	@media (min-width: $breakpointTablet) and (max-width: ($breakpointDesktop - 1px)) {
		@content;
	}
}

@mixin vpMobileTablet {
	@media (max-width: ($breakpointDesktop - 1px)) {
		@content;
	}
}

@mixin vpTabletDesktop {
	@media (min-width: $breakpointTablet) {
		@content;
	}
}

@mixin vpDesktop {
	@media (min-width: $breakpointDesktop) {
		@content;
	}
}
