@mobile: ~'(max-width: 767px)';
@tablet: ~'(min-width: 768px) and (max-width: 1259px)';
@mobile-tablet: ~'(max-width: 1259px)';
@tablet-desktop: ~'(min-width: 768px)';
@desktop: ~'(min-width: 1260px)';
@retina: ~'(min-resolution: 2dppx)';

:root {
	--colorBlack: #000000;
	--colorWhite: #ffffff;
}
