<header class="page-header">
	{% block logo %}
		<a class="page-header__logo-link" href="index.html">
			<img src="img/logo.svg" width="" height="" alt="Лого">
		</a>
	{% endblock %}
	<nav>
		<ul class="page-header__nav-list">
			{% block page_menu %}
				<li>
					<a  class="page-header__nav-link" href="#!"></a>
				</li>
			{% endblock %}
		</ul>
	</nav>
</header>
