<div class="Modal {{ testPage ? 'Modal_test' }}" id="{{ modalId }}">
	<a class="Modal__overlay" href="#page">
		<span class="visuallyHidden">К содержимому страницы.</span>
	</a>

	<div class="Modal__content">
		{% include component(Component) with data %}

		{% if not noCloser %}
			<a class="Modal__close" href="#page">
				<span class="visuallyHidden">К содержимому страницы.</span>
			</a>
		{% endif %}
	</div>
</div>
