<div class="Modal" data-modal="{{ modalId }}" hidden>
	<div class="Modal__content">
		{% include component(Component) with data %}

		<button class="Modal__close" type="button">
			<span class="visually-hidden">Закрыть.</span>
		</button>
	</div>
</div>
