.Modal {
	display: none;

	@include viewport;

	@include vpTabletDesktop {
		padding: 3rem;
	}

	&:target {
		display: flex;
	}
}

.Modal__overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

.Modal__content {
	position: relative;
	width: 100%;
	max-width: 50%;
	margin: auto;
	background-color: $colorWhite;
	box-shadow: $shadowPopup;
}

.Modal_test {
	padding-top: 0;

	.Modal__content {
		margin-top: 0;
	}
}
