.Modal {
	display: none;
	padding: 3rem;

	@include viewport;

	&:target {
		display: flex;
	}
}

.Modal__overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

.Modal__content {
	position: relative;
	margin: auto;
	background-color: $colorWhite;
}

.Modal_test {
	padding-top: 0;

	.Modal__content {
		margin-top: 0;
	}
}
