{% extends '../../layouts/theme.twig' %}

{% block page %}
	<div class="Page">
		{% include component('PageHeader') with { bemMix: 'Page__header' } %}

		<main class="Page__main">
			{% block main %}{% endblock %}
		</main>

		{% include component('PageFooter') with { bemMix: 'Page__footer' } %}
	</div>
{% endblock %}
