<span class="select {{ cssMix }}">
	<select
		class="select__control"
		name="{{ name }}"
	>
		{% for option in options %}
			<option value="{{ option.value }}">
				{{ option.title or option.value }}
			</option>
		{% endfor %}
	</select>
</span>
