@mixin retina {
	@media (min-resolution: 2dppx) {
		@content;
	}
}

@mixin webpBackground($webp, $fallback) {
	@if devMode() {
		background-image: $fallback;
	} @else {
		@supports (background-image: $webp) {
			background-image: $webp;
		}

		@supports not (background-image: $webp) {
			background-image: $fallback;
		}
	}
}

@mixin customBackground($adaptive: true) {
	@if $adaptive {
		@include vpMobile {
			@include webpBackground(var(--bgWebpMobile), var(--bgMobile));

			@include retina {
				@include webpBackground(var(--bgWebpMobile2x), var(--bgMobile2x));
			}
		}

		@include vpTablet {
			@include webpBackground(var(--bgWebpTablet), var(--bgTablet));

			@include retina {
				@include webpBackground(var(--bgWebpTablet2x), var(--bgTablet2x));
			}
		}

		@include vpDesktop {
			@include webpBackground(var(--bgWebpDesktop), var(--bgDesktop));

			@include retina {
				@include webpBackground(var(--bgWebpDesktop2x), var(--bgDesktop2x));
			}
		}
	} @else {
		@include webpBackground(var(--bgWebpMobile), var(--bgMobile));

		@include retina {
			@include webpBackground(var(--bgWebpMobile2x), var(--bgMobile2x));
		}
	}
}

@mixin mask($icon) {
	mask: url("#{$pathSprite}##{$icon}") no-repeat center / 100%;
}
