@mixin visuallyHidden {
	position: fixed;
	transform: scale(0);
}

@mixin customScrollbar($colorThumb: currentColor, $colorTrack: transparent, $scrollbarWidth: 8px) {
	scrollbar-color: $colorThumb $colorTrack;
	scrollbar-width: thin;

	&::-webkit-scrollbar {
		width: $scrollbarWidth;
		height: $scrollbarWidth;
		background-color: $colorTrack;
	}

	&::-webkit-scrollbar-track {
		background-color: $colorTrack;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $colorThumb;
		border: none;
		border-radius: 2px;
	}
}

@mixin viewport {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow-x: hidden;
	overflow-y: scroll; // Предотвращение скачков вправо-влево при переполнении
	overflow-anchor: none;
	scroll-behavior: smooth;

	@include customScrollbar;

	@include vpMobileXs {
		overflow-x: auto;
	}
}

@mixin container {
	padding-right: 30px;
	padding-left: 30px;

	@include vpTabletDesktop {
		padding-right: 50px;
		padding-left: 50px;
	}

	@include vpDesktop {
		padding-right: $paddingFluid;
		padding-left: $paddingFluid;
	}
}
